.account-form {
  width: 900px;
}

.form-avatar {
  display: flex;
  gap: 16px;
  align-items: center;
}

.form-avatar img {
  width: 104px;
  height: 104px;
  border-radius: 104px;
}

.change-avatar {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.helper-text {
  color: #525252;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.file-input {
  display: flex;
  align-items: center;
  gap: 12px;
}

.file-input input[type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.file-input__button {
  padding: 10px 14px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #ffffff;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  color: #171717;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.file-input__button:hover {
  background: #f5f5f5;
}

.form-fields {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-fields__items {
  display: flex;
  gap: 16px;
}

.form-fields__item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-fields__item input {
  position: relative;
  padding: 10px 14px;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background: #fafafa;
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #171717;
  outline: none;
}

.form-fields__item input:focus {
  box-shadow:
    0 0 0 1px #444ce7,
    0 1px 2px 0 rgba(16, 24, 40, 0.05),
    0 0 0 4px rgba(68, 76, 231, 0.12);
  border: 4px;
}

.form-fields__item input[id='name'] {
  width: 340px;
}

.form-fields__item input[id='lastName'] {
  width: 542px;
}

.form-fields__item input[id='email'],
.form-fields__item input[id='username'] {
  width: 900px;
}

.form-fields__item label {
  color: #404040;
  font-size: 14px;
  font-weight: 500;
}

.form-fields__item--username {
  position: relative;
}

.form-fields__item--username::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  right: 12px;
  top: 36px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.form-fields__item--username.username-valid::after {
  background-image: url('../../../img/valid.svg');
}

.form-fields__item--username.username-invalid::after {
  background-image: url('../../../img/not-valid.svg');
}

.form-text {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.form-error {
  color: #dc2626;
  font-size: 12px;
  font-weight: 500;
}

.form-button {
  display: block;
  padding: 12px 20px;
  border-radius: 4px;
  border: none;
  margin-top: 16px;
  margin-left: auto;
  color: #fff;
  background: #4338ca;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.Toastify__toast-container {
  position: absolute;
  top: auto !important;
  left: auto !important;
  bottom: 100px !important;
  right: 50% !important;
  transform: none !important;

  .Toastify__toast {
    max-width: 475px !important;
    width: 100% !important;
    min-height: unset;
    border-radius: 2000px;
    padding: 4px 10px 4px 4px;
    margin-bottom: 0 !important;
  }

  .Toastify__toast--success {
    background: #f0fdf4;
  }

  .Toastify__toast--error {
    background: #fef2f2;
  }

  .Toastify__toast-icon,
  .Toastify__close-button {
    display: none !important;
  }
}
