.account-settings {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.account-settings__headings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.account-settings__headings h2 {
  color: #171717;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.account-settings__headings span {
  color: #737373;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
