.error-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 320px;
  padding: 24px;
  margin: 0 auto;
}

.error-icon-container {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 50%;
  background: #fff;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.error-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.error-description-container span {
  color: #171717;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.error-description-container p {
  color: #171717;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.error-description-container p a {
  color: #4338ca;
}
